* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}


/*  #2F3645    */
.nav-item a {
  color: #FFE382;
}

.nav-item a:hover {
  color: white;
}

.container-fluid {
  background-color: #2F3645;
}