* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#root {
  top: 0;
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0 !important;
  padding: 0 !important;
}

/*  #2F3645    */
.nav-item a {
  color: #FFE382;
}

.nav-item a:hover {
  color: white;
}

.container-fluid {
  background-color: #2F3645;

}

.custom-dropdown-menu {
  background-color: #2F3645 !important;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: white;
}

.navbar-toggler {
  border: none !important;
}

.logo {
  height: 50px;
  width: 100px;
}

.hero-image {
  width: 100%;
}