* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#root {
  top: 0;
  margin: 0;
  padding: 0;
}

/*----------------------NAVBAR STYLES----------------------------------------------*/
.navbar {
  margin: 0 !important;
  padding: 0 !important;
}

/*  #2F3645    */
.nav-item a {
  color: #ffe382;
}

.links {
  text-decoration: none;
}

.links.active {
  color: white;
}

.nav-item a:hover {
  color: white;
}

.container-fluid {
  background-color: #2f3645;
}

.custom-dropdown-menu {
  background-color: #2f3645 !important;
}

.navbar .nav-link:hover,
.navbar .links:active {
  color: white;
}

.navbar-toggler {
  outline: none;
  box-shadow: none;
  border: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: none;
}

.bars {
  height: 40px;
  width: 40px;
  padding-bottom: 10px;
}

.navbar-nav {
  align-items: center;
  margin-top: 3%;
}

.navbar-nav li {
  padding-bottom: 8px;
}

.logo {
  height: 50px;
  width: 100px;
}

.user-icon,
.logout-icon {
  font-size: 18px !important;
  color: #ffe382 !important;
}

.nav-item .user-icon.active {
  color: white !important;
}

.user-icon:hover {
  color: white !important;
}

.logout-icon:hover {
  color: white !important;
}

/*-------------------------LOGOUT MODAL---------------------*/
.cancel-btn {
  background-color: #b7bac1 !important;
}

.yes-btn {
  background-color: #2f3645 !important;
  color: #ffe382 !important;
}

/*----------------------------HERO SECTION----------------------------------------------*/
.hero-image {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.slogan {
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4.3rem !important;
}

.lead {
  font-family: "Karla", sans-serif;
  font-weight: 400 !important;
  font-size: 24px;
  color: #ffe382;
}

.lead-2 {
  color: #ffe382 !important;
}

.search-form {
  width: 100% !important;
}

.search-form-container {
  margin-left: 15% !important;
}

.search-modal {
  max-height: 400px !important;
  overflow-y: auto !important;
}

.modal-header {
  background-color: #ffe382 !important;
}

.modal-title {
  color: #2f3645 !important;
}

.search-venue-list {
  list-style: none !important;
}

.venue-link {
  color: #2f3645 !important;
  text-decoration: none !important;
  font-size: 16px;
  transition: font-size 0.4s ease;
}

.venue-link:hover {
  font-size: 18px;
  font-weight: bold;
}

.modal-body {
  max-height: 400px !important;
  overflow-y: auto !important;
}

.search-icon {
  color: white !important;
  font-size: 25px !important;
}

.button-banner {
  color: #2f3645 !important;
  box-shadow: none !important;
  border: none !important;
  background-color: #ffe382 !important;
  font-size: 18px !important;
}

.button-banner:hover {
  background-color: #2f3645 !important;
  color: #ffe382 !important;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
}

/*----------------------------VENUECARDS-------------------------------*/

.viewBtn {
  color: #2f3645;
  box-shadow: none;
  border: none !important;
  background-color: #ffe382;
  font-size: 18px !important;
}

.viewBtn:hover,
.viewBtn:focus {
  color: #ffe382;
  background-color: #2f3645;
}

.heading-one {
  color: #2f3645 !important;
}

.btn-text {
  font-size: 15px !important;
}

.card-title {
  color: white !important;
  font-size: 26px !important;
}

.venue-img {
  filter: brightness(0.6) grayscale(30%);
  object-fit: cover;
  height: 250px !important;
}

.see-all-link {
  text-decoration: underline !important;
  color: #2f3645 !important;
  text-decoration-color: #2f3645 !important;
  font-size: 18px !important;
  font-weight: 300 !important;
}

/*---------------LoadingSpinner----------------------------------------------- */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #2f3645;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*-------------------------------SUBSCRIBE----------------------------------------*/
.sub-form-container {
  background-color: #2f3645;
}

.sub-form {
  margin-left: 25%;
  padding: 40px;
}

.sub-form-title {
  color: #ffe382;
  font-weight: 300;
}

.sub-btn {
  color: #2f3645 !important;
  box-shadow: none;
  border: none;
  background-color: #ffe382 !important;
  font-size: 18px !important;
}

.sub-btn:hover {
  color: #ffe382 !important;
  background-color: #2f3645 !important;
  border: 1px solid #ffe382 !important;
}

.form {
  border-radius: 10% !important;
}

.under-text {
  color: white;
  font-size: 13px;
}

/*-------------------------REGISTER TYPE-----------------------*/
.reg-type-title {
  color: #2f3645 !important;
}

.reg-type-btn {
  border: none;
  box-shadow: none;
  color: #2f3645 !important;
  background-color: #ffe382 !important;
  padding: 5px;
}

.reg-type-btn:hover {
  color: #ffe382 !important;
  background-color: #2f3645 !important;
}

.reg-type-container {
  border: 1px solid #b7bac1;
  margin-top: 10% !important;
  margin-bottom: 10% !important;
}


/*----------------REGISTER FORM--------------------------------------*/
.close-btn {
  color: #ffe382 !important;
  background-color: #2f3645 !important;
  border: none !important;
  width: 80px !important;
  font-size: 15px !important;
}

.reg-form-container {
  background-color: #F1F1F1 !important;
}

.reg-form {
  padding: 40px;
  background-color: #F1F1F1 !important;
}

.invalid-feedback {
  color: #973131 !important;
}

.error-reg {
  color: #973131 !important;
  font-weight: 400 !important;
}

/*---------------------FOOTER---------------------*/
.footer-container {
  background-color: #2f3645;
}

.footer-text {
  font-size: 16px !important;
  font-weight: 300;
  color: white;
}

.copyright {
  color: #ffe382;
  font-weight: 200;
  font-size: 13px;
}

.footer-logo {
  height: 50px;
  width: 100px;
}

/*-------------------------------LOG IN FORM----------------*/
.form-text {
  font-size: 18px;
  margin-left: 25%;
}

.register-link {
  color: #2f3645 !important;
  text-decoration: underline;
  text-decoration-color: #2f3645 !important;
}

.login-form {
  padding: 40px;
  background-color: #F1F1F1 !important;
}

.form-title {
  color: #2f3645 !important;
}

.submit-btn {
  background-color: #ffe382 !important;
  color: #2f3645 !important;
  margin-left: 25% !important;
}

.submit-btn:hover {
  background-color: #2f3645 !important;
  color: #ffe382 !important;
}

.login-link {
  color: #2f3645 !important;
  text-decoration: underline;
  text-decoration-color: #2f3645 !important;
}

.form-heading {
  color: #2f3645;
}

.login-error {
  color: #973131 !important;
  font-size: 15px !important;
}

/*--------------------------SINGLE VENUE---------------------------*/
.card {
  background-color: #F1F1F1 !important;
}

.venue-title {
  color: #2f3645;
}

.venue-address {
  color: #2f3645;
}

.venue-id {
  display: none !important;
}

.venue-detail {
  font-weight: 300;
  font-family: "karla";
}

.location {
  font-size: 26px;
  font-family: "karla";
}

.meta {
  font-size: 20px;
  font-family: "karla";
}

.book-btn {
  color: #2f3645 !important;
  background-color: #ffe382 !important;
  border: none !important;
  width: 200px !important;
  font-size: 18px !important;
}

.book-btn:hover {
  color: #ffe382 !important;
  background-color: #2f3645 !important;
}

.meta-data {
  background-color: white !important;
}

.meta-info {
  color: #2f3645 !important;
  font-weight: 300 !important;
}

.book-form-container {
  background-color: white !important;
}

.message-container {
  background-color: #ffe382 !important;
}

.update-venue-successMessage {
  color: #2f3645 !important;
  font-size: 18px;
  margin-bottom: 15px;
}

/* Customizing the main calendar container--------------------------- */
.flatpickr-day {
  color: #2f3645 !important;
}

.flatpickr-day:hover {
  background-color: #ffe382 !important;
  color: #2f3645 !important;
}

.flatpickr-day.selected {
  background-color: #ffe382 !important;
  color: #2f3645 !important;
  font-weight: bold !important;
}

.flatpickr-day.today {
  font-weight: bold !important;
}

.flatpickr-month {
  color: #2f3645 !important;
}

.flatpickr-day.disabled {
  cursor: not-allowed !important;
  opacity: 0.8 !important;
}


/*-------------------------------BOOK VENUE FORM-------------------*/
.error-message {
  color: #973131 !important;
  background-color: #ffe382 !important;
  font-size: 16px !important;
}

.success-message {
  background-color: #2f3645 !important;
  color: #ffe382 !important;
}


/*-------------------------------LEASE VENUE FORM-------------------*/
.form-label {
  font-weight: 400 !important;
  color: #2f3645 !important;
}

input::placeholder {
  font-size: 14px !important;
}

textarea::placeholder {
  font-size: 14px !important;
}

.lease-venue-form {
  border: 1.3px solid #b7bac1 !important;
}

.lease-form-btn {
  color: #2f3645 !important;
  background-color: #ffe382 !important;
  border: none !important;
  width: 200px !important;
  font-size: 18px !important;
}

.lease-form-btn:hover {
  color: #ffe382 !important;
  background-color: #2f3645 !important;
}

/*---------------------------------PROFILE PAGE----------------------*/

.heading-profile {
  color: #2f3645 !important;
}

.profile-data {
  color: #2f3645 !important;
}

.lease-btn {
  border: none;
  background-color: #ffe382 !important;
  color: #2f3645 !important;
}

.lease-btn:hover {
  color: #ffe382 !important;
  background-color: #2f3645 !important;
}

.update-venue-btn {
  border: none;
  background-color: #ffe382 !important;
  color: #2f3645 !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.delete-venue-btn {
  border: none;
  background-color: #ffe382 !important;
  color: #2f3645 !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.cancel-btn {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  border: none;
}

.confirm-btn {
  border: none;
  background-color: #ffe382 !important;
  color: #2f3645 !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.confirm-btn:hover {
  background-color: #2f3645 !important;
  color: #ffe382 !important;
}

.update-venue-btn:hover {
  background-color: #2f3645 !important;
  color: #ffe382 !important;
}

.delete-venue-btn:hover {
  background-color: #2f3645 !important;
  color: #ffe382 !important;
}

.update-avatar {
  color: #2f3645 !important;
  background-color: #ffe382 !important;
}

.update-avatar:hover {
  color: #ffe382 !important;
  background-color: #2f3645 !important;
}

.venue-card {
  background-color: white !important;
}

.booking-list .list {
  font-size: 16px !important;
}

.booking-card {
  background-color: #2f3645 !important;
  color: #ffe382 !important;
}

.booking-item {
  background-color: #2f3645 !important;
  color: white !important;
}

.booking-item h6 {
  color: #ffe382 !important;
}

.date-from {
  font-weight: 300 !important;
}

.date-to {
  font-weight: 300 !important;
}

.number-of-guests {
  font-weight: 300 !important;
}

.booking-item {
  background-color: white;
}

.booking-info h6 {
  color: #2f3645;
}

/*-----------MEDIA QUERY--------------------MEDIA QUERY-----------MEDIA QUERY---------------*/
@media only screen and (max-width: 768px) {
  .logo {
    padding: 6px !important;
  }

  .search-icon {
    font-size: 18px !important;
    margin-top: 10px !important;
  }

  .navbar-nav {
    margin-top: 5%;
  }

  .navbar-collapse {
    margin-left: 30px !important;
  }

  .overlay {
    padding: 30px;
  }

  .hero-text {
    width: 300px !important;
  }

  .hero-image {
    height: 400px;
  }

  .slogan {
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.3rem !important;
  }

  .lead {
    font-size: 15px !important;
  }

  .lead-2 {
    display: none !important;
  }

  /*-------------------------------SEARCH FORM--------------------*/
  .search-form-container {
    margin-left: 10% !important;
  }

  .search-form input {
    width: 150px !important;
  }

  .button-banner {
    font-size: 14px !important;
    height: 35px !important;
    width: 180px !important;
    padding-top: 6px !important;
  }

  .btn-text {
    font-weight: 300 !important;
  }

  .btn-text {
    font-size: 10px !important;
  }

  /*------------------------------------VENUE CARD-----------------------*/
  .card-title {
    font-size: 13px !important;
  }

  .venue-img {
    height: 100px !important;
  }

  .viewBtn {
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
    border: 1px solid #ffe382 !important;
  }

  .see-all-link {
    font-size: 14px !important;
  }

  .sub-form .input-group {
    flex-direction: column;
  }

  .sub-form .form-control {
    margin-bottom: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .sub-form .sub-btn {
    width: 100%;
  }

  .sub-form {
    margin-left: 0;
    padding: 40px;
  }

  .sub-form-title {
    color: #ffe382;
    font-weight: 300;
  }

  .footer-text {
    font-size: 12px !important;
    font-weight: 300;
    color: white;
  }

  .copyright {
    color: #ffe382;
    font-weight: 200;
    font-size: 8px;
  }

  .footer-logo {
    height: 40px;
    width: 80px;
  }

  /*-------------------------FORMS-------------------------------------------------*/
  .form-title {
    font-size: 18px;
  }

  .form-text {
    font-size: 14px;
    margin-left: 10%;
  }


  /*---------------REG TYPE ---------------------------------------------------*/
  .reg-type {
    margin-left: 10% !important;
    margin-bottom: 6px !important;
  }

  .reg-type-title {
    font-size: 20px !important;
  }

  .reg-type-btn {
    margin-bottom: 10px !important;
    margin-left: 25px !important;
    font-size: 14px !important;
  }

  /*-------------------------SINGLE VENUE---------------------------*/
  .venue-title {
    font-size: 20px !important;
  }

  .venue-location {
    font-size: 16px !important;
  }

  .venue-detail {
    margin-top: 0 !important;
    padding-top: 0x !important;
    padding-bottom: 0px !important;
    font-size: 15px !important;
    font-family: "karla";
  }

  .meta-data {
    padding: 5px !important;
    margin-top: 0 !important;
  }

  .meta-info {
    font-size: .7rem !important;
  }

  .avatar {
    padding: 30px !important;
    margin-left: 0 !important;
  }

  /*------------Book form---------------------*/
  .book-form-container {
    flex-direction: column !important;
  }

  .booking-form {
    flex-direction: column !important;
  }

  .book-btn {
    margin-left: 17% !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }

}